:root {
    --max-width: 1100px;
    --border-radius: 12px;

    /* Fonts */
    --text-font: 'Raleway', sans-serif;
    --text-regular: 400;
    --text-medium: 500;
    --text-bold: 700;

    /* Colors */
    --screen-bg: #fcfcff;
    --primary-color: #17a030;
    --secondary-color: #1b153d;
    --accent2-color: #9095a6;
    --footer-indicator: rgba(52, 64, 84, 0.85);
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html,
body {
    max-width: 100vw;
    overflow-x: hidden;
    font-family: var(--text-font);
}

/* Links */
a {
    color: inherit;
    text-decoration: none;
}

/* Typography */
h1 {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 48px;
    letter-spacing: -0.24px;
}

h3 {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 19px;
    letter-spacing: -0.24px;
}

/* Scrollbar styling */
::-webkit-scrollbar {
    width: 4px;
}

::-webkit-scrollbar-track {
    border-radius: 5px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    padding: 10px;
    background: var(--primary-color);
    border-radius: 5px;
}
