.home-indicator {
    position: absolute;
    width: inherit;
    height: 34px;
    bottom: 0;
    cursor: pointer;
}

.home-indicator__container {
    position: absolute;
    inset: 0;
}

.home-indicator__indicator {
    position: absolute;
    left: 32.27%;
    right: 32%;
    top: 55.88%;
    bottom: 29.41%;
    border-radius: 2.5px;
    background: var(--footer-indicator);
}
