/* Layout */
.layout {
    height: 100vh;
    background-color: lavender;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Container */
.container {
    background-color: var(--screen-bg);
    padding: 0 20px 0 20px;
    height: calc(812px - 74px);
}

.container__mobile {
    height: calc(100vh - 32px);
}

/* @media only screen and (max-width: 375px) {
    .container {
        height: calc(100vh - 126px);
    }
} */
