/* Screen */
.screen {
    width: 375px;
    height: 812px;
    background: var(--screen-bg);
    border-radius: var(--border-radius);
    display: flex;
    flex-direction: column;
}

/* Status bar */
.status__bar {
    width: inherit;
    height: 44px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px 16px 0 21px;
}

.status__barTime {
    flex: 1;
    height: 21px;
}

.status__barTime > span {
    font-weight: 500;
    font-size: 14;
    height: 21px;
    line-height: 16.71px;
    letter-spacing: -0.24px;
}

.status__barIcons {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.status__barIcons > img {
    margin: 0 2px 0 2px;
}

/* Home Indicator */
.home__indicator {
    height: 34px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.home__indicatorIndicator {
    cursor: pointer;
    width: 134px;
    height: 5px;
    border-radius: 2.5px;
    background-color: var(--footer-indicator);
}

.screen__mobile {
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}
